<div class="span5 report">
	<%= image_tag "book_open.jpg", :class => "pull-right" %>
	<p class="cities">21个城市</p>
	<p class="circles">120个圈子</p>
	<p class="users">3039位书友</p>
	<p class="books">20304本图书</p>
	<p class="orders">123次借阅</p>
	<p class="saveMoney">节省135.23元</p>
	<div class="clear"></div>
	<%= render "devise/shared/links" %>
</div>