<div class="btns">

</div>
<table class="table table-hover">
	<%= render (@publications) %>
</table>
<div class="row-fluid">
	<span class="span12" align="center">
		<%= will_paginate @publications, :container => false, :renderer => BootstrapPagination::Rails %>
	</span>
</div>
