<div class="container">
	<div class="row">
		<h2 class="page-header">发现圈子<a href="<%= new_circle_path %>" class="pull-right btn btn-primary"><i class="icon icon-plus icon-white"></i>创建圈子</a>
		</h2>
	</div>
	<div class="circle-list">
		<% @circles.each do |circle| %>
			<%= render :partial => "circle", :object => circle %>
		<% end %>
	</div>
</div>

